.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .loader {
    display: none;
    /* CSS-стилі для завантажувача */
  }
  
  .error {
    display: none;
    color: red;
  }
  
  .cat-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  /* CSS-стилі для інших елементів */
  